.light-yellow{
  background-color: #FFFFCC;
}
.yellow{
  background-color: #FFFF99;
}
.light-red{
  background-color: #FFCCCC;
}
.red{
  background-color: #FF6666;
}
.light-blue{
  background-color: #CCFFFF;
}
.blue{
  background-color: #0099CC;
}
.light-green{
  background-color: #99CC66;
}
.green{
  background-color: green;
}
.pink{
  background-color: #CCCCFF;
}
.gray{
  background-color: #CCCCCC;
}
.brown{
  background-color: #CC9966;
}
